<body>

  <div id="container">
    <div class="head">
      <h1>
        {{title}}
      </h1>
    </div>
    <div class="content">
      <input type="text" placeholder="Wpisz zadanie do wykonania" class="writing" [(ngModel)]="taskName">
      <input type="date" placeholder="Wpisz zadanie do wykonania" class="writingDate" [(ngModel)]="deadline">
      <app-create-task-button (createTask)="createTask()" [taskName]="taskName" [deadline]="deadline"></app-create-task-button>
     
      <app-task-list [tasks]="tasks" (removeTask)="removeTask($event)" (markTaskAsDone)="markTaskAsDone($event)" (clearTask)="clearTask()">

      </app-task-list>
    </div>
    <div class="footer">
      2022© Aplikacja ToDoList napisana w Angularze
    </div>
  </div>
</body>
